@font-face {
    font-family: "grotesk";
    src: url(../fonts/amazing_grotesk/Amazing_Grotesk_Ultra.otf);
   }
@font-face {
    font-family: "grotesk-demi";
    src: url(../fonts/amazing_grotesk/Amazing_Grotesk_Demi.otf);
   }

html {
	overflow-x: hidden;	
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #e7eaed;
  color: #4e4e4e;
  padding: 0;
}

ul{
	margin: 0;
	padding: 0;
}

h1,h2,h3{
	margin: 0;
}

a:hover{
	text-decoration: none;
}

.white{
	background-color: #fff;
}

.ad{
	width: 100%;
	height: 50px;
	background-color: #ee2b45;
	color: #fff;
	font-size: 14px;
}

.ad p{
	line-height: 50px;
	display: inline;
}

.ad a{
	color: #fff;
	text-decoration: underline;
}

.header{
	height: 165px;
	line-height: 165px;
	vertical-align: middle;
}

.logo{
	float: left;
	margin-right: 245px;
	margin-top: 40px;
}

.menu{
	float: right;
	margin: 0;
	margin-right: -35px;
	text-transform: uppercase;
	font-weight: 700;
}

.menu li{
	display: inline;
	margin-right: 35px;
}

.menu a{
	color: #787878;
	text-decoration: none;
}

.menu a:hover{
	text-decoration: underline;
}

.roll{
	position: absolute;
	left: 50%;
}

/*=================================================================================Content*/

.index-about{
	height: 300px;
	margin: 70px 0px;
	padding: 70px 70px 70px 70px;
	color: #5c5c5c;
	background: #fff url(../imgs/05.png) no-repeat left bottom;
	font-family: "grotesk-demi";
}

.index-about-title{
	height: 300px;
	line-height: 300px;
	vertical-align: middle;
	margin: -70px 70px 0px -70px;
	padding-left: 70px;
	font-family: "grotesk";
}

.index-about h1{
	color: #429fe6;
	font-size: 48px;
}

.index-about p{
	margin-bottom: 15px;
}

.index-about a{
	color: #ee2b45;
	text-decoration: underline;
	font-family: 'Lato';
}

/*================================================================ About*/

.about{
	min-height: 550px;
	margin-top: 70px;
	padding: 125px 50px 0px 50px;
	color: #5c5c5c;
	background: #fff url(../imgs/about.png) no-repeat left bottom;
	font-family: "grotesk-demi";
	font-size: 18px;
}

.about-title{
	padding-left: 70px;
	font-family: "grotesk";
}
.about-description{
	min-height: 350px;
	position: relative;
}

.about h1{
	color: #429fe6;
	font-size: 48px;
}

.about p{
	margin-bottom: 55px;
}

.about .synch-mail{
	font-family: 'Lato';
	position: absolute;
	bottom: 0;
	margin: 0;
}

.appreciate{
	text-align: center;
	padding-bottom: 55px;
}
.appreciate h1{
	margin: 35px 0;
	font-size: 30px;
}
.appreciate p{
	font-size: 18px;
	margin-bottom: 15px;
}

.authors{
	padding: 0 40px 45px 40px;
}

.authors h1{
	margin: 55px 0;
	font-size: 48px;
}

.author-last-child{
	width: 200px;
}

.author{
	width: 200px;
	margin-right: 95px;
}

.author h3, .author-last-child h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	margin: 20px 0;
}

/*==============================================================================================Event*/

.course-and-event-row{
	margin-bottom: 30px;
}

.course-holder{
	width: 770px;
	float: right;
}

.event-holder{
	width: 370px;
	float: left;
}

.event-marker, .course-marker{
	line-height: 30px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	background-color: #429fe6;
	color: #fff;
	text-transform: uppercase;
}
.course-marker{background-color: #ee2b45;}

.event{
	width: 100%;
	min-height: 750px;
	padding: 0px 37px;
	position: relative;
}

.event img{
	margin-left: -37px;
	margin-bottom: 35px;
	width: 370px;
}
.course img{
	margin-left: -37px;
	margin-bottom: 35px;
	width: 770px;	
}
.wide-img img{
	width: 1170px;
}

.event h1,.course h1,.wide-course h1{
	font-size: 24px;
	text-transform: uppercase;
	margin: 0px 0px 35px 0px;
	display: inline-block;
	width: 300px;
}

.course{
	width: 770px;
	min-height: 750px;
	padding: 0px 37px;
	position: relative;
}

.wide-course{
	min-height: 500px;
	padding: 37px;
	position: relative;
	margin-bottom: 35px;
}

.wide-course-description{padding-right: 75px;}

/*Это жестко, да. Наверное нужно сверстать это в col-md-8, а может и нет*/
.wide-course-right-column{
	padding-top: 70px;
	padding-left: 15px;
}

.wide-course h2{
	display: inline-block;
	width: 100%;
	font-size: 24px;
	font-family: "grotesk";
	margin-bottom: 37px;
}

.event-info{
	color: #999999;
	height: 70px;
	margin-bottom: 20px;
	font-size: 12px;
}

.lecture-info{
	color: #999999;
	min-height: 65px;
	max-width: 345px;
	margin-bottom: 15px;
	font-size: 12px;
}

.data-and-time{
	width: 33px;
	height: 65px;
	font-size: 12px;
	text-align: center;
	color: #5d5d5d;
	float: left;
	margin-right: 5px;
}

.data{
	font-size: 24px;
	color: #429fe6;
}

.register{
	color: #ee2b45;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 7px solid #ee2b45;
	line-height: 30px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0px 30px 37px 0px;
}
.register:hover{
	color: #c20020;
	border-color: #c20020;
}

.course-description{
	width: 50%;
	float: left;
	padding-right: 90px;
}

.lectures-list{
	width: 50%;
	float: right;
}

.lecture-title{
	font-size: 18px;
	line-height: 1em;
	margin-bottom: 5px;
}
.lecture-title a{
	color: #4e4e4e;
}
.lecture-title a:hover{
	color: #429fe6;
}

.lectures-list h2{
	margin-bottom: 30px;
	font-size: 24px;
	font-family: "grotesk";
}

/*================================================================Footer*/

.addthis_native_toolbox{
	margin: 70px 0;
}

.footer-margin{margin-top: 100px;}
.footer{
	height: 200px;
	padding-top: 80px;
}

.footer-logo{
	margin-right: 115px;
	float: left;
}

.footer-menu{
	max-width: 600px;
	font-size: 14px;
	float: left;
	margin-top: -15px;
}

.footer-menu li{
	display: inline-block;
	line-height: 45px;
	width: 75px;
	vertical-align: top;
	margin-right: 70px;
}

.footer-menu a{color: #787878;}
.footer-menu a:hover{text-decoration: underline;}

.synch-mail{
	font-size: 18px;
	font-weight: 700;
	border-bottom: 5px solid #429fe6;
	line-height: 36px;
	display: inline-block;
	margin-top: -13px;
	margin-left: 35px;
}

.social{
	float: right;
	height: 33px;
	margin: 0;
}

.social li{
	display: inline;
	line-height: 32px;
	margin-right: 10px;
}

/*============================================================================== Bread crumbs */

.bread-crumbs{
	margin-bottom: 40px;
}

.bread-crumbs a, .bread-crumbs p{
	color: #429fe6;
	float: left;
	margin-right: 15px;
}

.bread-crumbs a:hover{text-decoration:underline;}

/*============================================================================== Lecture_page */

.speaker{
	padding: 30px;
	margin-bottom: 50px;
	font-size: 18px;
}

.speaker h1{
	text-transform: uppercase;
	width: 200px;
	margin-bottom: 25px;
}

.profession{
	width: 370px;
	margin-bottom: 25px;
	color: #999999;
}

.speaker-contacts{
	font-weight: 700;
	height: 50px;
	margin-top: 30px;
}

.speaker-contacts ul{
	display: inline;
	float: left;
	margin-right: 75px;
}

.speaker-contacts li{
	display: inline;
}

.speaker-contacts li a{
	text-decoration: none;
}

.speaker-contacts p{
	float: left;
	margin-right: 75px;
}

.speaker a{
	color: #429fe6;
	text-decoration: underline;
}
/*============================================================================== Lecturers */
.lecturer, .lecturer-left{
	background: #fff;
	margin-bottom: 30px;
	width: 570px;
	min-height: 225px;
	padding: 25px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.lecturer img, .lecturer-left img{
	float: left;
	margin-right: 30px;
}

.lecturer-info{
	height: 135px;
	width: 520px;
}

.lecturer-info a{
	color: #429fe6;
}
.lecturer-info a:hover{
	color: #ee2b45;
}

.lecturer-info p{
	color: #999999;
	margin-bottom: 15px;
}

.lecturer h1, .lecturer-left h1{
	font-size: 14px;
	text-transform: uppercase;
}

.lecturer-left{
	margin-right: 30px;
	float: left;
}
.lector-link{
	color: #ee2b45;
	text-decoration: underline;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 25px 30px;
}

/*============================================================================== Scedule */

.scedule-item{
	height: 75px;
	margin-bottom: 2px;
}

.scedule-marker-holder{
	height: 100%;
	background-color: #f6f6f6;
	overflow: hidden;
}

.scedule-marker-holder img{
	width: 100%;
}

.scedule-event-marker, .scedule-course-marker{
	line-height: 30px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	background-color: #429fe6;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
}
.scedule-course-marker{background-color: #ee2b45;}

.scedule-data-and-time{
	width: 80px;
	height: 100%;
	font-size: 12px;
	text-align: center;
	color: #5d5d5d;
	padding: 10px 0;
	float: left;
}

.scedule-item-title{
	width: 375px;
	height: 100%;
	padding: 10px 25px 10px 0;
	float: left;
	font-size: 16px;
}

.scedule-item-title a{
	color: #ee2b45;
	font-size: 12px;
	text-transform: uppercase;
}
.scedule-item-title a:hover{
	text-decoration: underline;
}

.scedule-item-title h1{
	font-size: 18px;
}

.scedule-item-place{
	width: 255px;
	height: 100%;
	float: left;
	padding-top: 15px;
	color: #999999;
}

.scedule-item-lector{
	width: 100px;
	height: 100%;
	float: left;
	padding-top: 15px;
	text-align: center;
}

.scedule-link{
	color: #ee2b45;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 7px solid #ee2b45;
	line-height: 30px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-right: 30px;
	margin-top: -25px;
}

.scedule-link:hover{
	color: #c20020;
	border-color: #c20020;
}

/*============================================================================== Course page */

.course-page-title h1{
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 65px auto;
	width: 50%;
}

.course-page-description{
	padding: 75px 75px 0px 75px;
}

.course-page-description p{
	margin-bottom: 40px;
	font-size: 18px;
}

.course-page-lecture h1{
	margin: 35px 0;
}
.course-page-lecture-description h2{
	font-size: 18px;
	text-transform: uppercase;
}
.course-page-lecture h3{
	text-transform: uppercase;
}

.course-page-lecture{
	padding: 0px 75px;
	min-height: 400px;
	position: relative;
}

.course-page-lector{
	height: 135px;
	width: 373px;
	font-size: 12px;
	margin-top: 30px;
}

.course-page-lecture-left img{
	width: 373px;
}

/*.course-page-lector img{*/
/*	width: 373px;*/
/*	float: right;*/
/*	margin-left: 35px;*/
/*}*/

.course-page-lector h3{
	font-size: 14px;
	margin-top: 15px;
}

.course-page-lector a{
	color: #ee2b45;
	text-decoration: underline;
	position: absolute;
	bottom: 0;
}

.course-page-profession {color: #999999;}

.course-page-lecture-description{
	max-width: 615px;
	margin-left: 55px;
	font-size: 18px;
}

.course-page-register{
	color: #ee2b45;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 7px solid #ee2b45;
	line-height: 30px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 70px;
}

.horisontal-line{
	border-top: 1px solid #dbdbdb;
	height: 30px;
	width: 1025px;
	margin: 35px 0px 35px 75px;
}

/*============================================================================== Courses */

.courses-anchor{
	display: block;
	height: 30px;
	width: 100px;
	line-height: 30px;
}

.courses-title{
	height: 70px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 70px;
	margin: 35px 0;
}
.courses-title img{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
.courses-title p{
	z-index: 10;
	position: relative;
}

/*============================================================================== Burger */

.ham {
    visibility: hidden;
    font-family: 'Lato', sans-serif;
  	font-size: 14px;
}

#menu-button {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  width: 50px;
  height: 50px;
  background: #429fe6;
  z-index: 200;
}
#menu-button:after {
  position: absolute;
  content: "☰";
  font-size: 30px;
  color: #FFF;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
#menu-button:hover {
  opacity: .8;
}

#menu-button.on:after {
  content: "x";
}

#overlay {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  right: 0;
  left: 0;
}

#overlay.open {
  display: block;
}

#hamburger-menu {
  height: 0;
  width: 0;
  background: #429fe6;
  position: fixed;
  top: 0px;
  left: 50px;
  z-index: 101;
  overflow: hidden;
}
#hamburger-menu nav {
  padding: 30px;
  z-index: 101;
  overflow-y: hidden;
  overflow-x: hidden;
}
#hamburger-menu nav a {
  display: block;
  padding: 15px;
  height: 1em;
  color: #ffffff;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  overflow: hidden;
}
#hamburger-menu nav a:hover {
  cursor: pointer;
  color: #FFF;
  background: rgba(255, 255, 255, 0.02);
}

/*============================================================================== Scroll */

#scrolltop {
  display: none;
}

#rocketmeluncur {
  position: fixed;
  bottom: 50px;
  z-index: 7;
  display: none;
  visibility: hidden;
  width: 26px;
  height: 48px;
  right: 25px;
  background: url(../imgs/top-normal.png) no-repeat 50% 0;
  opacity: 0;
  -webkit-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#rocketmeluncur i {
  display: block;
  margin-top: 48px;
  height: 0px;
  background: url(../imgs/top-normal.png) no-repeat 50% -48px;
  opacity: .5;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  transition: transform .2s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0
}

#rocketmeluncur:hover {
  background-position: 50% -48px
}

#rocketmeluncur:hover i {
  background-position: 50% 100%;
  -webkit-animation: flaming .7s infinite;
  -moz-animation: flaming .7s infinite;
  animation: flaming .7s infinite
}

#rocketmeluncur.showrocket {
  visibility: visible;
  opacity: 1
}

#rocketmeluncur.launchrocket {
  background-position: 50% -48px;
  opacity: 0;
  -webkit-transform: translateY(-800px);
  -moz-transform: translateY(-800px);
  -ms-transform: translateY(-800px);
  transform: translateY(-800px);
  pointer-events: none
}

#rocketmeluncur.launchrocket i {
  background-position: 50% 100%;
  -webkit-transform: scale(1.4, 3.2);
  -moz-transform: scale(1.4, 3.2);
  transform: scale(1.4, 3.2)
}

/*============================================================================== Mobile */

@media (max-width: 768px) {
	.container{
		width: 100%;
		padding:0;
		margin:0;
	}
	
	#slider, .roll, .nav-holder, .footer-logo, .footer-menu{
		display:none;
	}

	.ad{
		width: 100%;
		height: 50px;
		background-color: #ee2b45;
		color: #fff;
		font-size: 12px;
		padding-left: 65px;
		position: fixed;
    	z-index: 90;
	}
	
	.ham {
        visibility: visible;
    }

	.header{
		height: 150px;
		line-height: 50px;
		vertical-align: middle;
	}

	.logo {
		position: relative;
		left: 50%;
		margin-left: -130px;
		margin-top: 90px;
		margin-bottom: 50px;
	}
	
	.bread-crumbs {
		padding-left: 30px;
	}
	
	.menu{display: none;}
	
	.index-about{
		height: auto;
		margin: 50px 0px;
		padding: 25px;
	}
	.index-about-title{
		height: 100px;
		line-height: 100px;
		vertical-align: middle;
		margin: 0;
	}
	.index-about h1{
		font-size: 30px;
		margin-left: -25px;
	}
	.index-about p{margin-bottom: 35px;}

	.event-holder, .course-holder, .wide-course, .event-info{
		width: 100%;
	}
	.course, .event, .wide-course{
		padding: 0 25px 35px 25px;
		width: 100%;
		margin-bottom: 35px;
	}
	.course img, .event img {
		width: 119%;
		margin-left: -25px;
	}
	.wide-img img{
		width: 100%;
	}
	
	.event h1,.course h1,.wide-course h1{
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	
	.course-description{
		width: 100%;
		margin-bottom: 35px;
		padding: 0;
	}
	
	.lectures-list{
		width: 100%;
		float: none;
		margin-bottom: 35px;
	}
	
	.register{
		color: #ee2b45;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 7px solid #ee2b45;
		line-height: 30px;
		display: inline-block;
		margin: 0px 15px 15px 0px;
		position: none;
		float: left;
	}
	
	.course-page-description {
		padding: 10px 25px 0px 25px;
	}
	
	.course-page-lecture-description{
		max-width: 100%;
		margin: 0 25px;
	}
	
	.vidget {
		padding: 50px 0px 50px 100px;
	}
	
	.course-page-lecture {
		padding: 0px;
		padding-bottom: 60px;
	}
	
	.course-page-lecture img{
		width: 100%;
	}
	
	.course-page-lecture h1 {
		text-align: center;
	}
	
	.course-page-lector {
		padding-left: 25px;
	}
	
	.horisontal-line{
		display: none;
	}
	
	.footer{
		height: 150px;
		padding-top: 0;
		padding-left: 55px;
	}
	.synch-mail{
		margin: 15px auto;
	}
	
	.social{
		float: none;
		height: 33px;
		margin: 15px 0;
	}
	
	.social li{
		display: inline;
		line-height: 32px;
		margin-right: 10px;
	}
	
	.courses-title img {
		width: 100%;
		height: 80px;
	}
}
