html {
	overflow-x: hidden;	
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #e7eaed;
  color: #4e4e4e;
  padding: 0;
}

ul{
	margin: 0;
	padding: 0;
}

h1,h2,h3{
	margin: 0;
}

a:hover{
	text-decoration: none;
}

.white{
	background-color: #fff;
}
.ad-norma {
	width: 100%;
	height: 7px;
	background-color: #ee2b45;	
}

.ad{
	width: 100%;
	height: 50px;
	background-color: #ee2b45;
	color: #fff;
	font-size: 14px;
}

.ad p{
	line-height: 50px;
	display: inline;
}

.ad a{
	color: #fff;
	text-decoration: underline;
}

.test-holder{
	width: 650px;
	margin: 0 auto;
}

.header{
	height: 165px;
	line-height: 165px;
	vertical-align: middle;
}

.logo{
	float: left;
	margin-right: 215px;
	margin-top: 40px;
}

.menu{
	float: right;
	margin: 0;
	margin-right: -35px;
	text-transform: uppercase;
	font-weight: 700;
}

.menu li{
	display: inline;
	margin-right: 35px;
}

.menu a{
	color: #787878;
	text-decoration: none;
}

.menu a:hover{
	text-decoration: underline;
}

/*=================================================================================Confirm subscription*/
.logo_Confirm{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.scedule-register-button-2{
	float: center;
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 30px;
	background: #e7e7e8;
    background: linear-gradient(to top, #ccc 0%, #e7e7e8 100%);
	border-bottom: 3px solid #999999;
	text-align: center;
	line-height: 27px;
	color: #666666;
	font-weight: 500;
}

.scedule-register-button-2:hover{
	background: #66ccff;
    background: linear-gradient(to top, #45a1e8 0%, #66ccff 100%);
    border-bottom: 3px solid #3887c3;
    color: #fff;
}

.scedule-register-button-2:active{
	background: #45a1e8;
	border: none;
}


.thanks{
	min-height: 350px;
	margin-top: 10px;
	padding: 50px 50px 0px 50px;
	color: #5c5c5c;
	background: #fff url(../imgs/about-2.png) no-repeat center;
	font-size: 18px;
}

.thanks h1{
	color: #429fe6;
	font-size: 48px;
	text-align: center;
}

.thanks p{
	margin-bottom: 55px;
	text-align: center;
}

.hr {
    border: none;
    background-color: red;
    color: red;
    height: 2px;
}
/*=================================================================================Content*/
.index-about{
	height: 350px;
	margin: 25px 0px 35px 0px;
	padding: 65px 70px 70px 70px;
	color: #5c5c5c;
	background: #fff url(../imgs/05.png) no-repeat left bottom;
}

.index-about-title{
	height: 300px;
	line-height: 300px;
	vertical-align: middle;
	margin: -80px 70px 0px -70px;
	padding-left: 70px;
}

.index-about h1{
	color: #429fe6;
	font-size: 48px;
}

.index-about p{
	margin-bottom: 15px;
}

.index-about a{
	color: #ee2b45;
	text-decoration: underline;
	font-family: 'Lato';
}

/*================================================================ About*/

.about{
	min-height: 550px;
	margin-top: 10px;
	padding: 125px 50px 0px 50px;
	color: #5c5c5c;
	background: #fff url(../imgs/about.png) no-repeat left bottom;
	font-size: 18px;
}

.about-title{
	padding-left: 70px;
}

.about-description{
	min-height: 350px;
	position: relative;
}

.about h1{
	color: #429fe6;
	font-size: 48px;
}

.about p{
	margin-bottom: 55px;
}

.about .synch-mail{
	float: left;
	margin-right: 100px;
}

.social li{
	display: block;
}

.appreciate{
	text-align: center;
	padding-bottom: 55px;
}
.appreciate h1{
	margin: 55px 0;
	font-size: 30px;
}
.appreciate p{
	font-size: 18px;
	margin-bottom: 15px;
}

.costil {
	margin-bottom:35px;
}

.authors{
	padding: 0 40px 0px 40px;
}

.authors h1{
	margin: 55px 0;
	font-size: 48px;
}

.author-last-child{
	width: 200px;
}

.author{
	width: 200px;
	margin-right: 95px;
	margin-bottom: 60px;
}

.costil-2 {
	width: 200px
	padding: 0 40px 45px 40px;
}

.costil-2  h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	margin: 20px 0;
}

.costil-3 {
	margin-left: 20%;
}

.author h3, .author-last-child h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	margin: 20px 0;
}

/*==============================================================================================Event*/

.course-holder{
	width: 770px;
	margin-bottom: 30px;
}

.event-holder{
	width: 370px;
	float: left;
}

.event-holder-margin {
	width: 370px;
	float: left;
	margin-left: 30px;
}

.event-marker, .course-marker{
	line-height: 30px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	background-color: #429fe6;
	color: #fff;
	text-transform: uppercase;
}
.course-marker{background-color: #ee2b45;}

.event{
	width: 100%;
	min-height: 800px;
	padding: 0px 37px;
	position: relative;
}

.event img{
	margin-left: -37px;
	margin-bottom: 35px;
	width: 370px;
}

.course img{
	margin-left: -37px;
	margin-bottom: 35px;
	width: 770px;	
}
.wide-img img{
	width: 1170px;
}

.event h1,.course h1,.wide-course h1, .index-event-title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 0px 35px 0px;
	display: inline-block;
	width: 300px;
	color: #4e4e4e;
}
.index-event-title:hover {color:#429fe6;}

.course{
	width: 770px;
	min-height: 800px;
	padding: 0px 37px;
	position: relative;
}

.wide-course{
	min-height: 500px;
	padding: 37px;
	position: relative;
	margin-bottom: 30px;
}

.wide-course-description{padding-right: 75px;}

.wide-course-right-column {
	padding-top: 70px;
	padding-left: 15px;
}


.wide-course h2{
	display: inline-block;
	width: 100%;
	font-size: 24px;
	margin-bottom: 37px;
}

.event-info{
	color: #999999;
	height: 70px;
	margin-bottom: 20px;
	font-size: 12px;
}

.event-left {
margin-left: 30px;
width: 370px;
float: left;
}

.lecture-info{
	color: #999999;
	min-height: 65px;
	max-width: 345px;
	margin-bottom: 35px;
	font-size: 12px;
}

.lecture-foure{
	color: #999999;
	min-height: 95px;
	max-width: 345px;
	margin-bottom: 35px;
	font-size: 12px;
}

.data-and-time{
	width: 33px;
	height: 65px;
	font-size: 12px;
	text-align: center;
	color: #5d5d5d;
	float: left;
	margin-right: 10px;
}

.data{
	font-size: 24px;
	color: #429fe6;
}

.place{
	color: #999999;
	margin: 35px 0;
	font-size: 14px;

}

.register{
	color: #ee2b45;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 7px solid #ee2b45;
	line-height: 30px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0px 30px 37px 0px;
}
.register:hover{
	color: #c20020;
	border-color: #c20020;
}

.course-description{
	width: 50%;
	float: left;
	padding-right: 70px;
}

.lectures-list{
	width: 50%;
	float: right;
}

.lecture-title{
	font-size: 18px;
	line-height: 1em;
	margin-bottom: 5px;
}
.lecture-title a{
	color: #4e4e4e;
}
.lecture-title a:hover{
	color: #429fe6;
}

.lectures-list h2{
	margin-bottom: 30px;
	font-size: 24px;
}

/*============================================================================== Event-page */

.event-page-lecturer{
	padding: 75px;
}

.event-page-avatar{
	height: 350px;
	width: 134px;
	float: left;
	margin-right: 35px;
}

.course-title-img {
	text-align: center;
}

.course-title-img img{
	width: 585px;
}
.event-page-title h1{
		font-size: 30px;
		margin: 65px 0px 65px 25px;
		text-align: left;
}
.event-page-title h1{
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 65px auto;
	width: 50%;
}
.event-page-description {
		padding: 10px 25px 0px 25px;
	}
.event-page-description{
	padding: 25px 75px 20px 75px;
}

.event-page-description h1{
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto 55px auto;
	width: 50%;
}

.event-page-description p{
	margin-bottom: 20px;
	font-size: 18px;
}

/*================================================================ Subscribe form */

.const-subscribe-form{
	margin: 0 auto;
	width: 600px;
}

.const-subscribe-form h2{
	margin-bottom: 25px;
}

.const-subscribe-form-input{
	display: block;
	float: left;
	width: 350px;
	height: 50px;
	margin-right: 25px;
	background-color: #fff;
	outline: none;
	border: none;
	padding-left: 25px;
	font-size: 14px;
}

.const-subscribe-form-btn{
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: none;
  background: #999999;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.const-subscribe-form-btn:hover{
	background: #ee2b45;
}

/*================================================================ Popup form */

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.22);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}

/* модальный блок */
.popup {
    width: 550px;
    position: fixed;
    z-index: 1000;
    right: 50px;
    bottom: 50px;
    background: #fff;
    padding: 35px;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}

.subscribe-form{
	width: 100%;
}

.close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background: url(../imgs/close.png) no-repeat center;
    border: none;
    cursor: pointer;
}

.popup h2{
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ee2b45;
    text-align: center;
}

.popup-subscribe-input{
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border: 1px solid #e7eaed;
    background-color: #fff;
    outline: none;
    padding-left: 25px;
    box-sizing: border-box;
    box-sizing: padding-box;
    font-size: 14px;
}

.subscribe-button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    border: none;
    background: #999999;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.subscribe-button:hover{
    background: #ee2b45;
}


/* анимация при появлении блоков с содержанием */
@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 } 
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}

/*================================================================ Footer */

.addthis_native_toolbox{
	width: 460px;
	margin: 40px auto;
}

.footer-costil{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer{
	height: 120px;
	padding-top: 40px;
	background: #fff;
}

.footer-margin{
	margin-top: 35px;
}

.first-footer-column,
.second-footer-column,
.third-footer-column,
.fourth-footer-column,
.fifths-footer-column,
.sixths-footer-column,
.last-footer-column{
	float: left;
	/*border: 1px solid green;*/
}

.first-footer-column{
	width: 22%;
}

.second-footer-column{
	width: 10%;
}

.third-footer-column{
	width: 10%;
}

.fourth-footer-column{
	width: 10%;
}

.fifths-footer-column{
	width: 22%;
	text-align: center;
}

.sixths-footer-column{
	width: 12%;
	text-align: center;
}

.last-footer-column{
	width: 14%;
	text-align: right;
}

.footer-logo{
	margin-top: -10px;
}

.footer-menu li{
	text-decoration: none;
	display: block;
	margin-bottom: 15px;
}

.footer-menu a{color: #787878;}
.footer-menu a:hover{text-decoration: underline;}

.synch-mail{
	display: inline-block;
	margin-top: -7px;
	line-height: 30px;
	color: #4e4e4e;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 5px solid #429fe6;
}

.synch-mail:hover{
	color: #2076b8;
	border-bottom: 5px solid #2076b8;
}

.gravpix{
	/*color: #ee2b45;*/
	color: #787878;
	text-transform: uppercase;
}

/*============================================================================== Lecture_page */

.speaker{
	padding: 30px;
	margin-bottom: 25px;
	font-size: 18px;
}



.speaker h1{
	text-transform: uppercase;
	width: 200px;
	margin-bottom: 25px;
}

.profession{
	width: 370px;
	margin-bottom: 25px;
	color: #999999;
}

.speaker-contacts{
	font-weight: 700;
	height: 50px;
	margin-top: 30px;
}

.speaker-contacts ul{
	display: inline;
	float: left;
	margin-right: 75px;
}

.speaker-contacts li{
	display: inline;
}

.speaker-contacts li a{
	text-decoration: none;
}

.speaker-contacts p{
	float: left;
	margin-right: 75px;
}

.speaker a{
	color: #429fe6;
	text-decoration: underline;
}

/*============================================================================== Lecturers */
.lecturer, .lecturer-left{
	background: #fff;
	margin-bottom: 30px;
	width: 570px;
	min-height: 185px;
	padding: 25px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

.lecturer img, .lecturer-left img{
	float: left;
	margin-right: 30px;
	width: 134px;
}

.lecturer-info{
	height: 135px;
	width: 520px;
}

.lector-name-link{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #4e4e4e !important;
	display: inline-block;
	margin-bottom: 15px;
}
.lector-name-link:hover {text-decoration: underline;}

.lecturer-info a{
	color: #429fe6;
}
.lecturer-info a:hover{
	color: #ee2b45;
}

.lecturer-info p{
	color: #999999;
	margin-bottom: 15px;
}

.data-info {
	margin: 0 auto;
	margin-top: 40px;
	color: #999999;
	min-height: 55px;
	max-width: 345px;
	font-size: 12px;
}

.lecturer-left{
	margin-right: 30px;
	float: left;
}

.lector-link{
	color: #ee2b45;
	text-decoration: underline;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 25px 30px;
}

.lector-centre {
	margin: 0 auto;
}

/*============================================================================== Scedule */

.week{
	background-color: white;
	padding: 0 70px 30px 70px;
}

.week-range{
	height: 30px;
	line-height: 30px;
	margin: 0 -70px 30px -70px;
	padding-left: 70px;
	background: #429fe6;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	
}

.scedule-table{
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
}

.scedule-table tr{
	border: 1px solid #e7eaed;
}

.scedule-table td{
	padding: 15px 45px 15px 25px;
	vertical-align: top;
}

.scedule-table tr td:first-child{
	position: relative;
    width: 207px;
    padding: 5px;
    border: 1px solid #e7eaed;
}

.scedule-table tr td:nth-child(2){
	width: 350px;
}

.scedule-data{
	position: absolute;
	margin: 5px 0 0 5px;
	width: 47px;
	padding: 5px;
	background: #fff;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
}

.scedule-data-number{
	font-size: 18px;
	font-weight: 700px;
	color: #429fe6;
}

.scedule-time{
	position: absolute;
	right: 5px;
	margin: 5px;
	padding: 5px;
	background: #fff;
	font-size: 14px;
	color: #429fe6;
}

.scedule-table tr td:last-child{
	vertical-align: middle;
	padding-right: 30px;
}

.scedule-img-container{
	float: left;
	height: 90px;
	width: 215px;
	overflow: hidden;
}

.scedule-img{
	width: 100%;
}

.sced-lecture-title{
	margin-bottom: 5px;
	color: #ee2b45;
}
.sced-course-title{
	margin-bottom: 5px;
	color: #429fe6;
}

.scedule-register-button{
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 30px;
	background: #e7e7e8;
    background: linear-gradient(to top, #ccc 0%, #e7e7e8 100%);
	border-bottom: 3px solid #999999;
	text-align: center;
	line-height: 27px;
	color: #666666;
	font-weight: 700;
}

.scedule-register-button:hover{
	background: #66ccff;
    background: linear-gradient(to top, #45a1e8 0%, #66ccff 100%);
    border-bottom: 3px solid #3887c3;
    color: #fff;
}

.scedule-register-button:active{
	background: #45a1e8;
	border: none;
}

/*============================================================================== Dinners */

.dinners-page-header{
	position: relative;
	margin-bottom: 25px;
	background: #fff;
}

.dinners-page-header img{
	width: 100%;
	margin-bottom: 15px;
}

.dinners-title-holder{
	position: absolute;
	top: 30px;
	width: 700px;
}

.dinners-page-header h1{
	display: inline-block;
	line-height: 1.5em;
	padding: 0 30px;
	background: #429fe6;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
}

.dinners-page-header h2{
	display: inline-block;
	line-height: 50px;
	padding: 0 30px;
	background: #ee2b45;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
}

.dinners-page-header h3{
	margin-left: 30px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.dinners-page-header p{
	display: inline-block;
	border-left: 5px solid #429fe6;
	margin: 15px 125px 30px 70px;
	padding-left: 35px;
	font-size: 18px;
}

/*============================================================================== Certificate */

.certificate-content{
	margin-bottom: 25px;
	padding: 30px 70px 0 70px;
	background: white;
}

.cert-col{
	padding-right: 70px;
}

.certificate-content ul,
.new-goddamn-class ul{
	list-style: square;
	color: #429fe6;
	font-size: 18px;
}

.certificate-content li{
	margin-bottom: 30px;
}

.certificate-content span,
.new-goddamn-class span{
	color: #4e4e4e;
}

.certificate-content a{
	color: #429fe6;
}
.certificate-content a:hover{
	text-decoration: underline;
}

.cert-icons-holder{
	margin-bottom: 25px;
	background: #fff;
}

.cert-icons-col{
	float: left;
	min-height: 140px;
	width: 20%;
	padding: 20px 30px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	border-right: 1px solid #e7eaed;
}

.cert-icons-col img{
	margin-bottom: 15px;
}

.cert-icons-col span{
	color: #429fe6;
}

.certificate-vidget-holder{
	position: absolute;
	right: 0;
	top: 338px;
	width: 250px;
}

.new-goddamn-class{
	background: white;
	padding: 30px 70px 15px 50px;
	margin-top: 25px;
}

.new-goddamn-class h1{
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 20px;
}

.new-goddamn-class ul{
	margin-left: 70px;
}

.new-goddamn-class li{
	margin-bottom: 15px;
}

.certificate-vidget{
	background: #fff;
	padding-bottom: 30px;
}

.cert-vidget-holder{
	width: 250px;
	margin: 0 auto;
}

.cert-synch-mail{
	color: #ee2b45;
}

/*============================================================================== Courses */

.courses-anchor{
	display: block;
	height: 30px;
	width: 100px;
	line-height: 30px;
}

.courses-title{
	height: 70px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 70px;
	margin: 35px 0;
}
.courses-title img{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
.courses-title p{
	z-index: 10;
	position: relative;
}

.mac {
	margin-bottom:40px;
}

/*============================================================================== Burger */

.ham {
    visibility: hidden;
    font-family: 'Lato', sans-serif;
  	font-size: 14px;
}

#menu-button {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  width: 50px;
  height: 50px;
  background: #429fe6;
  z-index: 200;
}
#menu-button:after {
  position: absolute;
  content: "☰";
  font-size: 30px;
  color: #FFF;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
#menu-button:hover {
  opacity: .8;
}

#menu-button.on:after {
  content: "x";
}

#overlay {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  right: 0;
  left: 0;
}

#overlay.open {
  display: block;
}

#hamburger-menu {
  height: 0;
  width: 0;
  background: #429fe6;
  position: fixed;
  top: 0px;
  left: 50px;
  z-index: 101;
  overflow: hidden;
}
#hamburger-menu nav {
  padding: 30px;
  z-index: 101;
  overflow-y: hidden;
  overflow-x: hidden;
}
#hamburger-menu nav a {
  display: block;
  padding: 15px;
  height: 1em;
  color: #ffffff;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  overflow: hidden;
}
#hamburger-menu nav a:hover {
  cursor: pointer;
  color: #FFF;
  background: rgba(255, 255, 255, 0.02);
}

.price {
	text-align: center;
}	

/*============================================================================== Mobile */

@media (max-width: 768px) {
	.container{
		width: 100%;
		padding:0;
		margin:0;
	}
	
	#slider, .menu, .nav-holder, .footer-logo, .footer-menu{
		display:none;
	}
	
	#popup-overlay{
		z-index: -2000;
		background: none;
	}
	
	.popup {
		display: none;
	}
	
	.ad-norma{
		display: block;
		width: 100%;
		height: 50px;
		background-color: #ee2b45;
		color: #fff;
		font-size: 12px;
		padding-left: 65px;
		position: fixed;
    	z-index: 90;
	}
	
	.ham {
        visibility: visible;
    }

	.header{
		height: 80px;
	}

	.logo {
		width: 80%;
		margin-left: 30px;
		margin-top: 50px;
	}

	.index-about{
		height: auto;
		margin-bottom: 50px;
		padding: 25px;
	}
	.index-about-title{
		height: 50px;
		line-height: 50px;
		margin: 0;
	}
	.index-about h1{
		font-size: 30px;
		margin-left: -50px;
	}
	.index-about h2{
		margin-top: 20px;
	}
	.index-about p{margin-bottom: 35px;}

	.event-holder, .course-holder, .wide-course, .event-info{
		width: 100%;
	}
	.course, .event, .wide-course{
		padding: 0 25px 35px 25px;
		width: 100%;
		margin-bottom: 35px;
	}
	.course img, .event img {
		width: 119%;
		margin-left: -25px;
	}
	.wide-img img{
		width: 100%;
	}
	
	.index-event-title{
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 25px;
		margin-top: 25px;
	}
	
	.course-description{
		width: 100%;
		margin-bottom: 35px;
		padding: 0;
	}
	
	.wide-course-description{
		padding: 0;
	}
	
	.wide-course-right-column{
		padding-top: 50px;
		padding-left: 0px;
	}
	
	.lectures-list{
		width: 100%;
		float: none;
		margin-bottom: 35px;
	}
	
	.lectures-list h2, .wide-course h2{
		margin-top: 30px;
	}
	
	.register{
		color: #ee2b45;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 7px solid #ee2b45;
		line-height: 30px;
		display: inline-block;
		margin: 0px 15px 15px 0px;
		position: none;
		float: left;
	}
	
	.const-subscribe-form{
		display: none;
	}
	
	.footer{
		height: 130px;
		padding-top: 0;
		padding-left: 55px;
	}
	.synch-mail{
		margin: 15px auto;
	}
	
	.social{
		float: none;
		height: 33px;
		margin: 15px 0;
	}
	
	.social li{
		display: inline;
		line-height: 32px;
		margin-right: 10px;
	}
	.about ul{
		display: none;
	}
	
	.courses-title img {
		width: 100%;
		height: 80px;
	}
	
	.about{
		padding: 35px 25px 55px 35px;
	}
	.about-title{
		padding-left: 0px;
		margin-bottom: 35px;
	}

	.author{
		margin-bottom: 35px;
	}
	
	.event-page-avatar{
		display: none;
	}
	
	.addthis_native_toolbox{
		width: 90%;
	}
	
	.footer{
		height: 120px;
	}
	
	.first-footer-column,
	.second-footer-column,
	.third-footer-column,
	.fourth-footer-column,
	.fifths-footer-column,
	.sixths-footer-column,
	.last-footer-column{
		float: none;
	}
	
	.sixths-footer-column img{
		margin-bottom: 15px;
	}
	
	.last-footer-column{
		display: none;
	}
	
}
