#slider{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 570px;
  height: 320px;
}

.nav-holder{
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0;
}

#control_prev, #control_next {
  display: inline-block;
  width: 50px;
  height: 30px;
  cursor: pointer;
  background-color: #69696a;
}

#control_next{
  background-image: url(../imgs/arrow-n.png);
  background-position: center;
  background-repeat: no-repeat;
}
#control_prev{
  float: left;
  background-image: url(../imgs/arrow-p.png);
  background-position: center;
  background-repeat: no-repeat;
}

#control_prev:hover, #control_next:hover{
  background-color: #429fe6;
}